<a [routerLink]="'/creat-book'" class="btn btn-success">
    New Book</a>

<div *ngIf="isError" style="color: red;">
    {{errMsg}}
</div>

<div>
    <table class="table table-striped">
        <tr>
            <th>Cover</th>
            <th>Id</th>
            <th>Title</th>
            <th>Author</th>
            <th>pages</th>

        </tr>

        <tr *ngFor="let book of books ">
            <td>
                <div *ngIf="book.coverImage">
                    <img src="http://localhost:8080/api/books/imageV/{{book.id}}" height="20px" width="20px" />
                    <a href="http://localhost:8080/api/books/imageV/{{book.id}}">View</a>

                </div>
            </td>
            <td>{{book.id}}</td>
            <td> {{ book.title }} </td>
            <td> {{ book.author }} </td>
            <td> {{ book.pages }} </td>

            <td><input type="button" class="btn btn-success" (click)="onEdit(book.id)" value="Edit"></td>
            <td><input type="button" class="btn btn-warning" (click)="onDelete(book.id)" value="Delete" /></td>
        </tr>

    </table>